* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #00000048;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1000;
}

.logo {
  font-weight: 500;
  font-size: 18px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 25px;
  font-size: 13px;
  letter-spacing: 1px;
}

.parallax {
  min-height: 100vh;
  background-image: url('viol.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.overlay {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.20);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 20px 60px;
}

.section-title {
  position: relative;
  margin-bottom: 30px;
  font-size: 20px;
  letter-spacing: 3px;
  opacity: 0.7;
}

.content-box {
  background: rgba(0, 0, 0, 0.55);
  padding: 55px 70px;
  margin-top: 40px;
  max-width: 850px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease;
}

.content-box.show {
  opacity: 1;
  transform: translateY(0);
}

#home .content-box h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

#home .content-box p {
  font-size: 22px;
  font-weight: 300;
}

.content-box p {
  font-size: 14px;
  line-height: 1.9;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  width: 100%;
  max-width: 900px;
  margin-top: 40px;
}

.project-card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  border-radius: 12px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.45);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card img {
  width: 100%;
  height: 160px;
  object-fit: contain;
}

.project-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}

.project-title {
  padding: 12px;
  font-size: 14px;
  text-align: center;
}

.align {
    text-align: center ;
    margin-top: 35px;
}

.loc {
    text-align: center;
    margin-top: 15px;
}

footer {
  background: #000;
  text-align: center;
  padding: 25px;
  font-size: 14px;
}

@media (max-width: 768px) {
  header {
    padding: 20px 30px;
  }

  .content-box {
    padding: 40px 25px;
  }
}

